<template>
  <div class="home">
    <img alt="Vue logo" src="https://gamepedia.cursecdn.com/minecraft_es_gamepedia/2/20/Librer%C3%ADa.png">
    <HelloWorld msg="Bienvenido"/>
    
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import { mapActions, mapGetters } from "vuex";

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}




    
</script>
