<template>
  <div class="hello">
    <h1>Bienvenido</h1>
    <p>Estas son las opciones</p>
    <router-link to="/autor">Ver o Regirtar Autores</router-link>
    <br>
    <router-link to="/editorial">Ver o Regirtar Editoriales</router-link>
    <br>
    <router-link to="/books">Ver o Regirtar Libros</router-link>
  </div>
</template>