<template>
    <div>
        <h3>PAGE USERS</h3>
        <form v-on:submit.prevent="postUser">
    <div class="card mb-auto">
        <div aria-controls="roleForm" aria-expanded="false" class="card-header" data-target="#roleForm"
             data-toggle="collapse" id="formHeader" style="cursor: pointer">
            <div class="float-left">New User</div>
            <div class="float-right">+</div>
        </div>
        <div class="card card-body collapse" id="roleForm">
            <div class="form-group row">
                <label for="userName" class="col-sm-4 col-form-label">Name</label>
                <input id="userName" class="form-control col-sm-8" placeholder="Full Name" type="text"
                           v-model="data.user_name"/>
            </div>
            <div class="form-group row">
                <label for="userUser" class="col-sm-4 col-form-label">Username</label>
                <input id="userUser" class="form-control col-sm-8" placeholder="Username" type="text"
                           v-model="data.user_user"/>
            </div>
            <div class="form-group row">
                <label for="userEmail" class="col-sm-4 col-form-label">Email</label>
                <input id="userEmail" class="form-control col-sm-8" placeholder="Email" type="email"
                           v-model="data.user_email"/>
            </div>
             <div class="form-group row">
                <label for="userPosition" class="col-sm-4 col-form-label">Password</label>
                <input id="userPosition" class="form-control col-sm-8" placeholder="Password" type="password"
                           v-model="data.user_password"/>
            </div>
            <div class="form-group row">
                <div class="col col-sm-4"></div>
                <input class="btn btn-primary col col-sm-8" type="submit" value="Save">
            </div>
        </div>
    </div>
</form>
       <router-link to="/">Regresar</router-link> 
    </div>
</template>

<script>

import { mapActions, mapGetters } from "vuex";

export default {
  name: 'Users',
  data: () => ({
            data: {
                user_name: '',
                user_user: '',
                user_email: '',
                user_password: '',
            }
        }),
  methods: {
  			...mapActions('authModule', ['register']),
            postUser: function (event) {
                // Creating
                if (this.user_id == '' || this.user_id == null) {
                    console.log('register');

                    this.register(this.$data.data).then((response) => {
                        this.$router.push({name: 'login'});
                    
                    
                }).catch(err => {
                    console.log("catch");
                    this.isLoading = false;
                });

                } else { // Updating
                   
                }
            }
        }
}

</script>

