<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Editorial Table</h3>

                <div class="card-tools">
                    <button class="btn btn-success" data-toggle="modal" data-target="#addNew" @click="openModalWindow">Add New <i class="fas fa-user-plus fa-fw"></i></button>
                </div>
              </div>
             
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Fundation</th>
                        <th>Website</th>
                  </tr> 

                  <tr v-for="user in users" :key="user.id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.description }}</td>
                    <td>{{ user.fundation }}</td>
                    <td>{{ user.website }}</td>

                  </tr>
                </tbody></table>
              </div>
            
              <div class="card-footer">
                 
              </div>
            </div>
           
          </div>
        </div>


            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">

                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Add New User</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Update User</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

<form @submit.prevent="editMode ? updateUser() : createUser()">
<div class="modal-body">
     <div class="form-group">
        <input v-model="form.name" type="text" name="name"
            placeholder="Name"
            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" minlength="5">
        <has-error :form="form" field="name"></has-error>
    </div>
    <div class="form-group">
        <input v-model="form.description" type="text" name="description"
            placeholder="Description"
            class="form-control" :class="{ 'is-invalid': form.errors.has('description') }" minlength="20">
        <has-error :form="form" field="description"></has-error>
    </div>
    <div class="form-group">
        <input v-model="form.fundation" type="text" name="fundation"
            placeholder="Fundation"
            class="form-control" :class="{ 'is-invalid': form.errors.has('fundation') }">
        <has-error :form="form" field="fundation"></has-error>
    </div>
    <div class="form-group">
        <input v-model="form.website" type="text" name="website"
            placeholder="Website"
            class="form-control" :class="{ 'is-invalid': form.errors.has('website') }">
        <has-error :form="form" field="website"></has-error>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <button v-show="editMode" type="submit" class="btn btn-primary">Update</button>
    <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
</div>

</form>

                </div>
            </div>
            </div>
    </div>

</template>

<script>
import axios from 'axios';
import httpClient from '../utils/httpClient';

    export default {
        data() {
            return {
                editMode: false,
                users: {},
                form: new Form({
                    id: '',
                    name : '',
                    description: '',
                    fundation: 0,
                    website: '',

                })
            }
        },
        methods: {
        
        editModalWindow(user){
           this.form.clear();
           this.editMode = true
           this.form.reset();
           $('#addNew').modal('show');
           this.form.fill(user)
        },
        updateUser(){
           this.form.put('http://localhost:8080/authors/'+this.form.id)
               .then(()=>{

                   Toast.fire({
                      icon: 'success',
                      title: 'User updated successfully'
                    })

                    $('#addNew').modal('hide');
                    this.loadUsers();
               })
               .catch(()=>{
                   Toast.fire({
                      icon: 'error',
                      title: 'No tiene permisos o intente el login nuevamente'
                    })

                    $('#addNew').modal('hide');
                  console.log("Error.....")
               })
        },
        openModalWindow(){
           this.editMode = false
           this.form.reset();
           $('#addNew').modal('show');
        },

        loadUsers() {

        httpClient.get("/editorials/").then( data => (this.users = data.data.content));
        
          //pick data from controller and push it into users object

        },

        createUser(){


            this.form.post('http://localhost:8080/editorials')
                .then(() => {
                   

                        Toast.fire({
                          icon: 'success',
                          title: 'User created successfully'
                        })

                        $('#addNew').modal('hide');
                        this.loadUsers();

                })
                .catch(() => {
                    Toast.fire({
                      icon: 'error',
                      title: 'No tiene permisos o intente el login nuevamente'
                    })

                    $('#addNew').modal('hide');
                   console.log("Error......")
                })

     

            //this.loadUsers();
          },
          deleteUser(id) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                
              if (result.value) {
                //Send Request to server
                this.form.delete('http://localhost:8080/authors/'+id)
                    .then((response)=> {
                            Swal.fire(
                              'Deleted!',
                              'User deleted successfully',
                              'success'
                            )
                    this.loadUsers();

                    }).catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: '<a href>Why do I have this issue?</a>'
                        })
                    })
                }

            })
          }
        },

        created() { 
            axios.defaults.headers.common['Authorization'] = 'Bearer '+ localStorage.getItem('token');
            this.loadUsers();
            
        }
        
    }
</script> 