<template>
  <div class="hello">
    <h1>Bienvenido</h1>
    <p>Para iniciar con la app recuerde registrarse y hacer el proceso del login</p>
    <template v-if="estado==false">
    <router-link to="/login">Login</router-link>
    <br>
    <router-link to="/register">Registrarse</router-link>
    </template>
    <template v-else>
      <router-link to="/principal">Ir a la pagina principal</router-link>
    </template>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
            return {
              estado: false,
            }
  },
  created(){
    if(localStorage.getItem('token').length>0){
      this.estado=true;
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
