<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Editorial Table</h3>

                <div class="card-tools">
                    <button class="btn btn-success" data-toggle="modal" data-target="#addNew" @click="openModalWindow">Add New <i class="fas fa-user-plus fa-fw"></i></button>
                </div>
              </div>
             
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>ID</th>
                        <th>title</th>
                        <th>Description</th>
                        <th>editorialId</th>
                        <th>authorIds</th>
                  </tr> 

                  <tr v-for="user in users" :key="user.id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.title }}</td>
                    <td>{{ user.description }}</td>
                    <td>{{ user.editorial.name }}</td>
                    <td><p v-for="autor in user.authors " :key="autor.id">{{ autor.name }},</p></td>

                  </tr>
                </tbody></table>
              </div>
            
              <div class="card-footer">
                 
              </div>
            </div>
           
          </div>
        </div>


            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">

                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Add New User</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Update User</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

<form @submit.prevent="editMode ? updateUser() : createUser()">
<div class="modal-body">
     <div class="form-group">
        <input v-model="form.title" type="text" name="title"
            placeholder="Name"
            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" minlength="5">
        <has-error :form="form" field="name"></has-error>
    </div>
    <div class="form-group">
        <input v-model="form.description" type="text" name="description"
            placeholder="Description"
            class="form-control" :class="{ 'is-invalid': form.errors.has('description') }" minlength="20">
        <has-error :form="form" field="description"></has-error>
    </div>
    
    <div class="form-group">
        <h6 style="text-align: -moz-left;text-align: initial;">Editorial</h6>
        <select v-model="form.editorialId" type="text" name="editorialId"
            placeholder="EditorialId"
            class="form-control" :class="{ 'is-invalid': form.errors.has('editorialId') }">
            <option v-for="edit in editors" :key="edit.index" :value="edit.id">{{edit.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <h6 style="text-align: -moz-left;text-align: initial;" >Autor</h6>
        <div class="list-group-item" v-for="(answer,index) in form.authorIds" :key="index">
        <select v-model="form.authorIds[index]" type="text" :name="'authorIds'+index"
            placeholder="AuthorIds"
            class="form-control" :class="{ 'is-invalid': form.errors.has('authorIds') }">
            <option v-for="autor in autors" :key="autor.index" :value="autor.id">{{autor.name}}</option>
        </select>
        <button tabIndex="-1" class="btn btn-sm" type="button" @click="deleteAnswer(answer.id)">
          Remove
        </button>  
        </div>
        <button v-if="form.authorIds.length < 5" type="button" @click="addAnswer" class="btn btn-sm">Add autor</button>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <button v-show="editMode" type="submit" class="btn btn-primary">Update</button>
    <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
</div>

</form>

                </div>
            </div>
            </div>
    </div>

</template>

<script>
function Item (aut){           
  this.aut =  0; 
}

import axios from 'axios';
import httpClient from '../utils/httpClient';

    export default {
        data() {
            return {
                editMode: false,
                users: {},
                form: new Form({
                    id: '',
                    title : '',
                    description: '',
                    editorialId: 0,
                    authorIds: [],

                }),
                editors:[],
                autors:[],
            }
        },
        methods: {
         addAnswer: function(){
            this.form.authorIds.push(new Item(''));
        },
        deleteAnswer: function(answer){
            this.form.authorIds.splice(answer, 1);
        },
        editModalWindow(user){
           this.form.clear();
           this.editMode = true
           this.form.reset();
           $('#addNew').modal('show');
           this.form.fill(user)
        },
        updateUser(){
           this.form.put('http://localhost:8080/authors/'+this.form.id)
               .then(()=>{

                   Toast.fire({
                      icon: 'success',
                      title: 'User updated successfully'
                    })

                    $('#addNew').modal('hide');
                    this.loadUsers();
               })
               .catch(()=>{
                   Toast.fire({
                      icon: 'error',
                      title: 'No tiene permisos o intente el login nuevamente'
                    })

                    $('#addNew').modal('hide');
                  console.log("Error.....")
               })
        },
        openModalWindow(){
           this.editMode = false
           this.form.reset();
           $('#addNew').modal('show');
        },

        loadUsers() {

        httpClient.get("/books").then( data => (this.users = data.data.content));
        
          //pick data from controller and push it into users object

        },
        loadEditorials() {

        httpClient.get("/editorials/").then( data => (this.editors = data.data.content));
        
          //pick data from controller and push it into users object

        },
        loadAutors() {

        httpClient.get("/authors/").then( data => (this.autors = data.data.content));
        
          //pick data from controller and push it into users object

        },

        createUser(){


            this.form.post('http://localhost:8080/books')
                .then(() => {
                   

                        Toast.fire({
                          icon: 'success',
                          title: 'User created successfully'
                        })

                        $('#addNew').modal('hide');
                        this.loadUsers();

                })
                .catch(() => {
                    Toast.fire({
                      icon: 'error',
                      title: 'No tiene permisos o intente el login nuevamente'
                    })

                    $('#addNew').modal('hide');
                   console.log("Error......")
                })

     

            //this.loadUsers();
          },
          deleteUser(id) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                
              if (result.value) {
                //Send Request to server
                this.form.delete('http://localhost:8080/authors/'+id)
                    .then((response)=> {
                            Swal.fire(
                              'Deleted!',
                              'User deleted successfully',
                              'success'
                            )
                    this.loadUsers();

                    }).catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: '<a href>Why do I have this issue?</a>'
                        })
                    })
                }

            })
          }
        },

        created() { 
            axios.defaults.headers.common['Authorization'] = 'Bearer '+ localStorage.getItem('token');
            this.loadUsers();
            this.loadEditorials();
            this.loadAutors();
        }
        
    }
</script> 